<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Данные пользователя за конкретный месяц</title>
</head>
<body>
<h3>Данные пользователя за конкретный месяц</h3>

<div class="container py-3">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Введите логин пользователя</h1>
        <div class="alert alert-danger" role="alert" th:if="${not #lists.isEmpty(errorMessage)}">
            <span th:text="${errorMessage}"></span>
        </div>
        <!--  Mo -->
        <form method="post" th:action="@{/Mo/spec-month-user}">

            <div class="form-floating mb-3">
                <input class="form-control" id="user_login" name="user_login" type="text">
                <label for="user_login">Login</label>
            </div>
            Введите месяц(1-12)
            <div class="form-floating mb-3">
                <input class="form-control" id="month" name="month" type="text">
                <label for="month">month</label>
            </div>
            Введите год(2015-2024)
            <div class="form-floating">
                <input class="form-control" id="year" name="year" type="text">
                <label for="year">year</label>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Показать данные</button>
        </form>
    </main>
</div>
</body>
</html>